Problems/obj/Debug/Problems.csproj.FileListAbsolute.txt
Codility/bin/Debug/Codility.vshost.exe.manifest
Codility/obj/x86/Debug/Codility.Form1.resources
Codility/obj/x86/Debug/Codility.Properties.Resources.resources
Codility/obj/x86/Debug/Codility.csproj.FileListAbsolute.txt
